* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content {
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
    height: 568px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.perfil {
    width: 170px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.foto-perfil{
    background-color: #000;
    width: 120%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

#foto{
    width: 83px;
    height: 83px;
    margin-top: 20px;
    cursor: pointer;
}

#edit-ft{
    margin-top: 8.80rem;
    margin-left: 10px;
    cursor: pointer;
}


.first-content {
    display: flex;
}

.first-column {
    text-align: center;
    width: 60%; 
    z-index: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding-top: 20px;
    padding-left: 150px;
}

.slots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px; 
    width: 100%; 
}


.row-slot1, .row-slot2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#sec1, #sec2, #sec3 {
    margin-bottom: 10px; 
    margin-left: -25px;
}

.form, .form2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    margin-top: 1rem;
}


.form input, .form2 input {
    height: 35px;
    width: 300px; /* Largura dos inputs */
    border: none;
    background-color: #ecf0f1;
    border-radius: 10px;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    margin: 8px;
    width: 150px; /* Define a largura da label */
    border-radius: 10px;
    align-items: center;
    padding: 0 10px;
}

input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}


.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
    padding: 0 1px;
}

.circle {
    background-color: #000;
    width: 58px;
    height: 56px;
    border: 3px solid #fff; 
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.circle:hover {
    background-color: #444;
    border-color: #fff; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

#btn-left {
    display: flex;
    cursor: pointer;
    height: 56px;
}

.btn {
    width: 148px;
    height: 56px;
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    margin-left: -16rem;
    background-color: rgba(16, 16, 16, 1);
}

.second-column {
    width: 25%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Separa os elementos */
    align-items: center;
    background: linear-gradient(180deg, #040404 69%, #6A6767 100%);
}

.title {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 1);
    font-size: 16px;
    line-height: 2; 
    text-align: center; 
    margin-top: 50%;
}

#logo {
    padding: 20px; /* Ajuste a margem se necessário */
    margin-bottom: 20px; /* Adiciona espaço abaixo da logo */
}

/*VERSÃO MOBILE*/
@media screen and (max-width: 1040px) {
    .content {
        width: 100%;
        height: 100%;
    }

    .first-content{
        flex-direction: column;
        justify-content: space-around;
    }

    .first-column, .second-column {
        width: 100%;
    }
    

    .form {
        width: 90%;
    }   
}

@media screen and (max-width: 740px) {
    .form {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .form {
        width: 100%;
    }
}