@page
@model Cruds.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cruds.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <div class="perfil">
                    <div class="foto-perfil">
                        <img id="foto" src="../cadastro/svg/Vector (4).png">
                    </div>
                    <div class="ft">
                        <button class="choose-ft">
                            <h2>Choose Photo</h2>
                        </button>
                        <div class="icon-user"><img src="../cadastro/svg/Vector (5).png"></div>
                    </div>
                </div>
                <div class="slots">
                    <form asp-action="Create" method="post" class="form">
                        <div class="row-slot1">
                            <label class="label-input">
                                <input type="text" name="FirstName" placeholder="First Name" required />
                            </label>
                            <label class="label-input">
                                <input type="text" name="Surname" placeholder="Surname" required />
                            </label>
                            <label class="label-input">
                                <input type="date" name="DateOfBirth" placeholder="Date of Birth" required />
                            </label>
                            <label class="label-input">
                                <input type="text" name="Phone" placeholder="Phone Number" required />
                            </label>
                            <label class="label-input">
                                <input type="text" name="SecurityNumber" placeholder="Social Security Number" required />
                            </label>
                        </div>
                        <div class="row-slot2">
                            <label class="label-input">
                                <input type="text" name="Gender" placeholder="Gender" required />
                            </label>
                            <label class="label-input">
                                <input type="text" name="Nationality" placeholder="Nationality" required />
                            </label>
                            <label class="label-input">
                                <input type="text" name="Username" placeholder="Username" required />
                            </label>
                            <label class="label-input">
                                <input type="email" name="Email" placeholder="E-mail" required />
                            </label>
                            <label class="label-input">
                                <input type="password" name="Password" placeholder="Password" required />
                            </label>
                        </div>
                        <div class="buttons-container">
                            <button type="submit" class="circle">
                                <img src="../cadastro/svg/Vector (3).png" />
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="second-column">
                <div class="title">
                    <p>Make<br>Your</p>
                    <h2>registration!</h2>
                </div>
                <img id="logo" src="../cadastro/svg/Logo2.png">
            </div>
        </div>
    </div>
</body>
</html>
