@page
@model crudd.Pages.CreateModel
@{
    ViewData["Title"] = "Add Product";
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-4">
        <h2 class="text-center mb-5">New Product</h2>

        @if (Model.ErrorMessage.Length > 0){
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@Model.ErrorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Product Name*</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Nome_produto" />
                    <span asp-validation-for="Nome_produto" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Mark*</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Marca" />
                    <span asp-validation-for="Marca" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Description*</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Descricao" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Price*</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Preco" />
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Stock*</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Estoque" />
                    <span asp-validation-for="Estoque" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Date*</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="DataCadastro" />
                    <span asp-validation-for="DataCadastro" class="text-danger"></span>
                </div>
            </div>
        
            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-primary" href="ListProduct" role="button">Cancel</a>
                </div>
            </div>
        </form>
    </div> 
</div>
