@page
@model crudd.Pages.EditData
@{
    ViewData["Title"] = "EditData";
}

<div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Dashboard</h1>
            <h3 class="text-center">You must complete both registrations to register</h3>
            <a href="~/Index" class="btn btn-danger">Quit</a>
</div>