@page
@model crudd.Pages.Login
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-6 mx-auto rounded border p-4 mt-5">
        <h2 class="text-center">Login</h2>

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger">
                @Model.ErrorMessage
            </div>
        }

        <form method="post">
            <div class="mb-3">
                <label asp-for="UsernameOrEmail" class="form-label">Username or Email</label>
                <input asp-for="UsernameOrEmail" class="form-control" />
                <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="senha" class="form-label">Password</label>
                <input asp-for="senha" type="password" class="form-control" />
                <span asp-validation-for="senha" class="text-danger"></span>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>

.btn{
  background-color: black;
}
</style>
