@page
@model crudd.Pages.Home.Dashboard
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Dashboard</h1>
            <h3 class="text-center">You must complete both registrations to register</h3>
            <a href="~/Index" class="btn btn-danger">Quit</a>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h5>Customer information</h5>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <a href="~/Home/Create" class="btn btn-primary me-2">Create User</a>
                    <p>Do here your user register</p>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h5>Address information</h5>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <a href="~/Home/CreateEndereco" class="btn btn-primary me-2">Create Address</a>
                    <p>Do here your address register</p>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h5>User data</h5>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <a href="/Home/Index" class="btn btn-primary me-2">View data</a>
                    <p>Edit here you Register</p>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h5>Address data</h5>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <a href="/Home/ReadPage" class="btn btn-primary me-2">View data</a>
                    <p>Edit here you Address</p>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<style>

.btn{
  background-color: black;
}
</style>