<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - crudd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/crudd.styles.css" asp-append-version="true" />
</head>
<body>
    @if (ViewData["ShowHeader"] != null && (bool)(ViewData["ShowHeader"] ?? false))
    {
        <header>
            <nav class="header-navigation">
                <a asp-page="/Index">
                    <img id="logo" src="~/img/Logo.png" alt="Logo">
                </a>
                <ul class="nav">
                    <li class="item-nav">
                        <a href="#">HOME</a>
                    </li>
                    <li class="item-nav">
                        <a href="#">SALE</a>
                    </li>
                    <li class="item-nav">
                        <a href="#">BUNDLE &amp; SAVE</a>
                    </li>
                    <li class="item-nav">
                        <a href="#">SHOP BY CATEGORY</a>
                    </li>
                    <li class="item-nav">
                        <a href="#">SUPPORT</a>
                    </li>
                </ul>
                <div class="login">
                    <a asp-page="/Home/Index" class="sign-in">Sign In</a>
                    <div class="line-301"></div>
                    <a asp-page="/Home/Create" class="sign-up-for-free">Sign UP FOR FREE</a>
                </div>
            </nav>
        </header>
    }

    <main>
        <main role="main" class="pb-3">
            @RenderBody()
        </main> 
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
