@model MeuProjetoCRUD.Models.User

<h2>Edit User</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="Surname"></label>
        <input asp-for="Surname" />
        <span asp-validation-for="Surname"></span>
    </div>
    <div>
        <label asp-for="RegisterDate"></label>
        <input asp-for="RegisterDate" type="date" />
        <span asp-validation-for="RegisterDate"></span>
    </div>
    <div>
        <label asp-for="Phone"></label>
        <input asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </div>
    <div>
        <label asp-for="SecurityNumber"></label>
        <input asp-for="SecurityNumber" />
        <span asp-validation-for="SecurityNumber"></span>
    </div>
    <div>
        <label asp-for="Gender"></label>
        <input asp-for="Gender" />
        <span asp-validation-for="Gender"></span>
    </div>
    <div>
        <label asp-for="Nacionalidade"></label>
        <input asp-for="Nacionalidade" />
        <span asp-validation-for="Nacionalidade"></span>
    </div>
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Senha"></label>
        <input asp-for="Senha" type="password" />
        <span asp-validation-for="Senha"></span>
    </div>
    <button type="submit">Save</button>
</form>
